include ../../elements/menu-element/menu-element.pug

nav.main-menu
    ul.menu-component
        li(class="menu-element")
            a.main-menu__link(href="#main-page") главная
        li(class="menu-element")
            a.main-menu__link(href="#cikloferon") циклоферон
        li(class="menu-element")
            a.main-menu__link(href="#know_more") как стать участником
        li(class="menu-element")
            a(href="data/rules.pdf" target="_blank") правила
        li(class="menu-element")
            a.main-menu__link(href="#winners") победители
        li(class="menu-element")
            a.main-menu__link(href="#faq") faq
        li(class="menu-element")
            a.main-menu__link(href="#ask-question") задайте вопрос