.top-anchor {
  position: relative;
}

.top-anchor__anchor {
  position: absolute;
  top: -350px;
  width: 1px;
  height: 1px;
}

.main-menu {
  margin: 25px auto 0 auto;
  width: 1278px;
}

.menu-component {
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1280px) {
  .main-menu {
    padding: 0 5px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .main-menu {
    padding: 0;
  }

  .menu-component::before,
  .menu-component::after {
    content: "";
    order: 1;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-menu {
    position: fixed;
    top: 85px;
    right: 0;
    display: none;
    margin: 0 0 0 auto;
    width: 375px;
    height: 1px;
  }

  .main-menu-show {
    z-index: 5;
    display: block;
  }

  .menu-component {
    display: block;
  }

  .menu-component::before,
  .menu-component::after {
    content: none;
  }
}

@media screen and (max-width: 576px) {
  .main-menu {
    width: 100%;
  }
}


@import "../../elements/menu-element/menu-element.scss";