extends ../../templates/components

block variables
    - var title = 'Аккордионы'
    - var pageClass = 'accordions-page'

block content
    h1 Каталог аккордионов
    section
        a(href='custom-accordion-page.html').section-caption Вертикальный аккордион (циклоферон)
        br
        a(href='horizontal-accordion-page.html').section-caption Горизонтальный аккордион с картинками
        br
        