
section#faq.faq-section
    .faq-section__headline FAQ
    .es-accordion-tsikloferon__container
        include faq-accordion
    button.faq-section__show-more Раскрыть весь список
    button.faq-section__show-min.faq-section__show-none Скрыть список