@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";

.es-jumping-ball {
  position: absolute;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  //animation-duration: 7s;
  //animation-iteration-count: infinite;
  //animation-name: es-jumping;
  //animation-timing-function: linear;
  transform-origin: center;
}