@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";

.es-card {
  padding: 20px;
  min-width: 150px;
  min-height: 360px;
  border: 1px solid #ebebeb;
  border-radius: 0.625rem;
  text-align: center;
}

.es-card__img-container {
  position: relative;
  margin-bottom: rem(10px);
  min-height: rem(190px);
}

.es-card__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "object-fit: contain; object-position: center;";
  object-fit: contain;
  object-position: center;
}

.es-card__header {
  margin-bottom: rem(30px);
  font-family: $mainFontBold;
  font-size: rem(31px);
  color: #000000;
}

.es-card__content {
  font-family: $mainFontLight;
  font-size: rem(22px);
  color: #000000;
}