@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";
@import "../../../elements/buttons/es-close-button/es-close-button";

//Revealing
.es-custom-modal__container {
  display: none;
  transform: none;
}

.before-appearing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  min-width: 576px;
  height: calc(100vh);
  transform: scale(0);

  &.appearing {
    transform: scale(1);

    .es-custom-modal__background {
      background: rgba(0, 0, 0, .0);
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

      .es-custom-modal__section {
        opacity: 0;
        animation: scaleUp 0.5s 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }

    &.disappearing {
      animation: quickScaleDown 0s .5s linear forwards;

      .es-custom-modal__background {
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

        .es-custom-modal__section {
          animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }
}

.es-custom-modal__background {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: rem(5px);
  padding-right: rem(5px);
  padding-bottom: rem(5px);
  padding-left: rem(5px);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
}

@media screen and (max-height: 480px) {
  .es-custom-modal__background {
    align-items: flex-start;
    overflow: scroll;
  }
  //.modal-close-button{
  //    top: rem(0px) !important;
  //    right: rem(-5px) !important;
  //}
}


.es-custom-modal__section {
  background-color: white;
}



//анимация закрытия окон
@keyframes unfoldIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }

  50% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

//Revealing как на digital-easy
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, .0);
    opacity: 0;
  }

  100% {
    background: rgba(0, 0, 0, .9);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, .9);
  }

  100% {
    background: rgba(0, 0, 0, .0);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(5000px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes scaleDown {
  0% {
    opacity: 1;
    transform: scale(1); //translateY(0px);
  }

  100% {
    opacity: 0;
    transform: scale(0.1); //translateY(5000px);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }

  99.9% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaleBack {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform: scale(.85);
  }

  100% {
    transform: scale(1);
  }
}