include ../../../elements/buttons/es-close-button/es-close-button

block variables

div(class="es-custom-modal__container"+" "+modalContainerClass)
    div(class="es-custom-modal__background"+" "+modalBackgroundClass)
        section(class="es-custom-modal__section"+" "+modalSectionClass)
            div(class="es-custom-modal__close-button"+" "+modalCloseButtonClass)
                +es-close-button("", "")
            block modalContent