// ЦВЕТА


// РАЗМЕРЫ
$baseFontSize: 16px;

// ШРИФТЫ
$mainFontRegular: "CirceRegular", arial, sans-serif;
$mainFontLight: "CirceLight", arial, sans-serif;
$mainFontBold: "CirceBold", arial, sans-serif;
$mainFontBlack: "CirceExtraBold", arial, sans-serif;