@import "../../../../common/scss/mixins.scss";
@import "../../../../common/scss/vars.scss";

.modal-background__info {
  padding-top: rem(10px);
  padding-bottom: rem(30px);
}

.modal-section__info {
  position: relative;
  padding-top: 45px;
  padding-right: 50px;
  padding-bottom: rem(20px);
  padding-left: 50px;
  width: rem(780px);
  min-height: rem(200px);
  border-radius: 10px;
  background-color: #fbfbfb;
}

.modal-close-button__info {
  position: absolute;
  top: rem(5px);
  right: rem(0px);
}

.info-modal__message {
  margin-bottom: rem(25px);
  font-family: $mainFontRegular;
  font-size: rem(26px);
  color: #ab0358;
}

.info__ok-button {
  min-width: rem(110px);
  height: rem(60px);
  border-radius: rem(7px);
  background-color: #ab0358;
  font-family: $mainFontBold;
  font-size: rem(31px);
  line-height: rem(30px);
  text-transform: uppercase;
  //text-shadow: 1px 1px #ab0358;

  &:focus,
  &.es-focus {
    box-shadow: 0 0 0 .2rem rgba(#ab0358, 0.25);
  }

  &:not(:disabled):not(.es-disabled):active,
  &:not(:disabled):not(.es-disabled).es-active {
    &:focus {
      box-shadow: 0 0 0 .2rem rgba(#ab0358, 0.25);
      background-color: lighten(#ab0358, 10%);
      //background: radial-gradient(at top center, rgba(255, 223, 9, 0.9), rgba(254, 180, 20, 1));
    }
  }
}