extends ../../templates/components

block variables
    - var title = 'Test page for components'
    - var pageClass = 'components-page'

block content
    h1 Каталог web-компонентов
    section
        a(href='components-page.html').section-caption Компоненты
        br
        a(href='buttons-page.html').section-caption Кнопки
        br
        a(href='icons-page.html').section-caption Иконки
        br
        a(href='links-page.html').section-caption Ссылки
        br
        a(href='logos-page.html').section-caption Логотипы
        br
        a(href='accordions-page.html').section-caption Аккордеоны
        br
        a(href='cards-page.html').section-caption Карточки
        br
        a(href='loaders-page.html').section-caption Лоадеры
        br
        a(href='menus-page.html').section-caption Меню
        br
        a(href='menu-rotate-page.html').section-caption Меню, отодвигающее страницу
        br
        a(href='modals-page.html').section-caption Модальные окна
        br
        a(href='sliders-page.html').section-caption Слайдеры
        br
        a(href='form-elements-page.html').section-caption Элементы форм
        br
        a(href='search-input-page.html').section-caption Поле поиска анимированное       
        br
        a(href='steps-indicator-page.html').section-caption Индикатор прогресса
        br
        a(href='fb-badge-page.html').section-caption Бейджик как у фейсбука
        br
        a(href='jqvmap-page.html').section-caption Векторная карта России (jqvmap)
        br
        a(href='russia-svg-page.html').section-caption Векторная карта России
    h1 Каталог эффектов
    section
        a(href='es-balls-page.html').section-caption Прыгающие шарики 

    h1 Каталог проектов
    section
        a(href='tsikloferon-style-page.html').section-caption Циклоферон

    h1 Каталог приемов вёрстки
    section
        
    

