extends ../../templates/components

block variables
    - var title = 'Маски'
    - var pageClass = 'masks-page'

block content
    h1 Маски

    section
        //- .masked-section
        //-     include ../../components/masks/clip-path/cloud.svg
    .divider
    .svg-container
        include ../../components/masks/clip-path/cloudIE.svg