@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 3.125rem;
  flex: 0.5;
  margin: 0.625rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel.active {
  flex: 5;
}
