extends ../../components/accordions/es-accordion/es-accordion

block accordionItems
    li
        a.es-accordion-link Кто является организатoром акции?
        div.es-accordion-content
            p Организатором акции является компания.
                =" "
                a(href="http://ya.ru") Каковы условия акции?
    li
        a.es-accordion-link Сколько продлится акция?
        div.es-accordion-content
            p С 1 августа 2016 г. по 28 февраля 2019 г. включительно – срок проведения акции (включая срок регистрации, участия, выдачи подарков).
            p С 15 сентября 2016 г. по 28 февраля 2019 г. включительно – отправка подарков участникам акции, набравшим не менее 120 баллов.
    li
        a.es-accordion-link В каких городах проходит акция?
        div.es-accordion-content
            p Города, участвующие в акции: Владивосток, Уссурийск, Артем, Находка, Уфа, Волгоград, Волжский, Новосибирск, Воронеж, Старый Оскол, Россошь.