.es-rotate-cube-loader__container {
  position         : fixed;
  display          : flex;
  justify-content: center;
  align-items: center;
  width            : 100%;
  top              : 0;
  left             : 0;
  right: 0;
  bottom: 0;
  z-index          : 500;
  background-color : rgba(black, 0.8);
}

.es-rotate-cube-loader__container.es-rotate-cube-loader__container--hide{
  display          : none;
}


.es-rotate-cube-loader {
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  padding: 5px;
  border: 1px solid lighten(#e00876, 30%);
}

.es-rotate-cube-loader__segment-container {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.es-rotate-cube-loader__segment {
  position: absolute;
  background: lighten(#e00876, 30%);
}

.es-rotate-cube-loader__first-segment {
  bottom: 0;
  height: 0;
  width: 100%;
  animation: slide-one 1s infinite;
}

.es-rotate-cube-loader__second-segment {
  left: 0;
  height: 100%;
  width: 0;
  animation: slide-two 1s infinite;
  animation-delay: 0.25s;
}

.es-rotate-cube-loader__third-segment {
  right: 0;
  height: 100%;
  width: 0;
  animation: slide-two 1s infinite;
  animation-delay: 0.75s;
}

.es-rotate-cube-loader__fourth-segment {
  top: 0;
  height: 0;
  width: 100%;
  animation: slide-one 1s infinite;
  animation-delay: 0.5s;
}

@keyframes slide-one {
  0%    { height: 0;    opacity: 1; }
  12.5% { height: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { height: 100%; opacity: 0;}
}

@keyframes slide-two {
  0%    { width: 0;    opacity: 1; }
  12.5% { width: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { width: 100%; opacity: 0;}
}

@keyframes rotate-loader {
  0%   { transform: rotate(-45deg); }
  20%  { transform: rotate(-45deg); }
  25%  { transform: rotate(-135deg); }
  45%  { transform: rotate(-135deg); }
  50%  { transform: rotate(-225deg); }
  70%  { transform: rotate(-225deg); }
  75%  { transform: rotate(-315deg); }
  95%  { transform: rotate(-315deg); }
  100% { transform: rotate(-405deg); }
}