.es-rotate-cube-loader__container.es-rotate-cube-loader__container--hide
    div(class="es-rotate-cube-loader")
        div(class="es-rotate-cube-loader__segment-container")
            div(class="es-rotate-cube-loader__segment es-rotate-cube-loader__first-segment")
        div(class="es-rotate-cube-loader__segment-container")
            div(class="es-rotate-cube-loader__segment es-rotate-cube-loader__second-segment")
        div(class="es-rotate-cube-loader__segment-container")
            div(class="es-rotate-cube-loader__segment es-rotate-cube-loader__third-segment")
        div(class="es-rotate-cube-loader__segment-container")
            div(class="es-rotate-cube-loader__segment es-rotate-cube-loader__fourth-segment")