@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import "../../cards/es-badge/es-badge.scss";


.es-slick-slider__container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1280px;
}

.es-slick-slider {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}


.slick-slider {
  //margin-left: -12%;
  //margin-right: -12%;
}

.slick-list {
  padding-top: 3% !important;
  padding-right: 0% !important;
  padding-bottom: 3% !important;
  padding-left: 0% !important;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
}

.slick-track {
  max-width: 100% !important;
  transform: translate3d(0, 0, 0) !important;
  perspective: 100px;
}

.slick-slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35%;
  margin: auto;
  width: 100% !important;
  opacity: 0;
  //из-за этого свойства сильно тормозил сайт
  //transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
  outline: none;
}

.slick-3Dnext,
.slick-3Dprev {
  display: block;
  width: auto !important;
}

.slick-current {
  position: relative;
  z-index: 2;
  display: block;
  width: auto !important;
  cursor: pointer;
  opacity: 1;
  transform: translate3d(0, 0, 20px);
}

.slick-3Dnext {
  z-index: 1;
  opacity: 1;
  transform: translate3d(30%, 0, 0px);
}

.slick-3Dprev {
  opacity: 1;
  transform: translate3d(-30%, 0, 0px);
}

//.participants-posts__slide {
//  display: block;
//  width: 100%;
//  height: 300px;
//  box-shadow: inset 0px 0px 0px 3px #000000;
//  background: #cc0000;
//}

.es-slick-slider__prev-button,
.es-slick-slider__next-button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  width: rem(44px);
  height: rem(44px);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("./button-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: translateY(-50%);
}

.es-slick-slider__prev-button {
  left: 0;
  transform: translateY(-50%) rotate(-180deg);
}

@media screen and (max-width: 1280px) {
  .es-slick-slider {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  .slick-slide {
    left: 33%;
  }

  .slick-3Dnext {
    transform: translate3d(25%, 0, 0px);
  }

  .slick-3Dprev {
    transform: translate3d(-25%, 0, 0px);
  }
}

@media screen and (max-width: 1260px) {
  .slick-slide {
    left: 32.7%;
  }
}

@media screen and (max-width: 1240px) {
  .slick-slide {
    left: 32.4%;
  }
}

@media screen and (max-width: 1220px) {
  .slick-slide {
    left: 32.1%;
  }
}

@media screen and (max-width: 1200px) {
  .slick-slide {
    left: 31.8%;
  }
}

@media screen and (max-width: 1180px) {
  .slick-slide {
    left: 31.5%;
  }
}

@media screen and (max-width: 1160px) {
  .slick-slide {
    left: 31.2%;
  }
}

@media screen and (max-width: 1140px) {
  .slick-slide {
    left: 30.9%;
  }
}

@media screen and (max-width: 1120px) {
  .slick-slide {
    left: 30.6%;
  }
}

@media screen and (max-width: 1100px) {
  .slick-slide {
    left: 30.3%;
  }

  .es-slick-slider__prev-button,
  .es-slick-slider__next-button {
    width: rem(34px);
    height: rem(34px);
  }

  .es-slick-slider__prev-button {
    left: -30px;
  }

  .es-slick-slider__next-button {
    right: -30px;
  }
}

@media screen and (max-width: 1080px) {
  .slick-slide {
    left: 30%;
  }
}

@media screen and (max-width: 1060px) {
  .slick-slide {
    left: 29.7%;
  }
}

@media screen and (max-width: 1040px) {
  .slick-slide {
    left: 29.3%;
  }
}

@media screen and (max-width: 1020px) {
  .slick-slide {
    left: 29.0%;
  }
}

@media screen and (max-width: 1000px) {
  .slick-slide {
    left: 28.6%;
  }
}

@media screen and (max-width: 998px) {
  .slick-slide {
    left: 27.8%;
  }

  .slick-3Dnext {
    transform: translate3d(15%, 0, 0px);
  }

  .slick-3Dprev {
    transform: translate3d(-15%, 0, 0px);
  }

  .es-slick-slider__prev-button,
  .es-slick-slider__next-button {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .slick-slide {
    left: 27.6%;
  }
}

@media screen and (max-width: 960px) {
  .slick-slide {
    left: 27.3%;
  }
}

@media screen and (max-width: 940px) {
  .slick-slide {
    left: 27.0%;
  }
}

@media screen and (max-width: 920px) {
  .slick-slide {
    left: 26.6%;
  }
}

@media screen and (max-width: 900px) {
  .slick-slide {
    left: 26.0%;
  }
}

@media screen and (max-width: 880px) {
  .slick-slide {
    left: 25.5%;
  }
}

@media screen and (max-width: 860px) {
  .slick-slide {
    left: 25.0%;
  }
}

@media screen and (max-width: 840px) {
  .slick-slide {
    left: 24.5%;
  }
}

@media screen and (max-width: 820px) {
  .slick-slide {
    left: 24.0%;
  }
}

@media screen and (max-width: 800px) {
  .slick-slide {
    left: 23.5%;
  }
}

@media screen and (max-width: 780px) {
  .slick-slide {
    left: 22.8%;
  }
}

@media screen and (max-width: 760px) {
  .slick-slide {
    left: 22.1%;
  }
}

@media screen and (max-width: 740px) {
  .slick-slide {
    left: 21.4%;
  }

  .slick-list {
    padding-top: 4% !important;
    padding-bottom: 4% !important;
  }

  .slick-3Dnext {
    transform: translate3d(10%, 0, 0px);
  }

  .slick-3Dprev {
    transform: translate3d(-10%, 0, 0px);
  }
}

@media screen and (max-width: 720px) {
  .slick-slide {
    left: 20.8%;
  }
}

@media screen and (max-width: 700px) {
  .slick-slide {
    left: 20.0%;
  }
}

@media screen and (max-width: 680px) {
  .slick-slide {
    left: 19.0%;
  }
}

@media screen and (max-width: 660px) {
  .slick-slide {
    left: 18.0%;
  }

  .slick-current {
    transform: translate3d(0, 0, 15px);
  }
}

@media screen and (max-width: 640px) {
  .slick-slide {
    left: 17.0%;
  }
}

@media screen and (max-width: 620px) {
  .slick-slide {
    left: 16.0%;
  }
}

@media screen and (max-width: 600px) {
  .slick-slide {
    left: 15.0%;
  }
}

@media screen and (max-width: 580px) {
  .slick-slide {
    left: 13.8%;
  }
}

