include ../../../components/cards/es-badge/es-badge

.es-slick-slider__container
    .es-slick-slider
        .es-slick-slider__slide
            +es-badge("participants-posts__slide", "", "./img/slide-foto.png", "Ваш пост", "Напишите пост и получите приз...")
        .es-slick-slider__slide
            +es-badge("participants-posts__slide", "", "./img/slide-foto.png", "Ваш пост", "Напишите пост и получите приз...")
        .es-slick-slider__slide
            +es-badge("participants-posts__slide", "", "./img/slide-foto.png", "Ваш пост", "Напишите пост и получите приз...")
