extends ../../templates/components

block variables
    - var title = 'Шаблон страницы компонента'
    - var pageClass = 'template-page'

block links
   
block content
    //include ../../components/.../component.pug