.es-icon-button {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  padding: rem(10px);
  border: 1px solid transparent;
  border-radius: .75rem;
  background-color: #ab0358;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  user-select: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus,
  &.es-focus {
    box-shadow: 0 0 0 .1rem rgba(#ab0358, 0.25);
    outline: 0;
  }

  &.es-disabled,
  &:disabled {
    box-shadow: none;
    opacity: .65;
  }

  &:not(:disabled):not(.es-disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.es-disabled):active,
  &:not(:disabled):not(.es-disabled).es-active {
    box-shadow: inset 0 3px 5px rgba(#ab0358, .125);

    &:focus {
      box-shadow: 0 0 0 .2rem rgba(#ab0358, 0.25);
    }
  }
}

.es-icon-button__icon {
  width: rem(35px);
  height: rem(35px);
  object-fit: contain;
  object-position: center;
  font-family: "object-fit: contain; object-position: center;";
}