.animal__change {
  @include breakpoint("phablet-wide") {
    height: 28px;
  }
  display: flex;
  height: 52px;
  border: 2px solid #fff;

  input {
    position: absolute !important;
    z-index: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 0px !important;
    height: 0px !important;
    border: 0px !important;

    &:disabled ~ * {
      cursor: not-allowed;
    }
  }

  > div {
    @include font-size(18);

    @include breakpoint("phablet-wide") {
      @include font-size(13);
    }
    flex: 1;
    align-items: center;
    display: flex;
    padding-left: 65px;
    color: #fff;
    cursor: pointer;

    &.active {
      color: $blue;
    }

    &:not(:last-of-type) {
      border-right: 2px solid #fff;
    }
  }

  &--dog {
    @include breakpoint("phablet-wide") {
      background-size: 24px 17px;
    }
    background: url("./dog.png") no-repeat left center transparent;
    background-position: 10px center;

    &.active {
      @include breakpoint("phablet-wide") {
        background-size: 24px 17px;
      }
      background: url("./dog_active.png") no-repeat left center #fff;
      background-position: 10px center;
    }
  }

  &--cat {
    @include breakpoint("phablet-wide") {
      background-size: 19px 17px;
    }
    background: url("./cat.png") no-repeat left center transparent;
    background-position: 10px center;

    &.active {
      @include breakpoint("phablet-wide") {
        background-size: 19px 17px;
      }
      background: url("./cat_active.png") no-repeat left center #fff;
      background-position: 10px center;
    }
  }
}
