body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

.component-name {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.es-badge__container {
  margin-right: auto;
  margin-left: auto;
  max-width: 23.75rem; }

.es-card__container {
  margin-right: auto;
  margin-left: auto;
  max-width: 22.5rem; }

.cards-page__card {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  max-width: 22.5rem; }

.es-user-post__container {
  margin-right: auto;
  margin-left: auto;
  max-width: 37.5rem; }

.es-badge {
  align-items: center;
  display: inline-flex;
  padding: 1.875rem;
  width: 100%;
  max-width: 23.75rem;
  border: 1px solid #ebebeb;
  border-radius: 0.625rem;
  background-color: #ffffff; }

.es-badge__foto-container {
  position: relative;
  flex-shrink: 0;
  margin-right: 1.5625rem;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 80px;
  overflow: hidden; }

.es-badge__foto {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.es-badge__data-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 65%; }

.es-badge__header {
  margin-bottom: 0.9375rem;
  font-family: "CirceRegular", arial, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.1;
  text-align: left;
  text-decoration: underline;
  color: #535353; }

.es-badge__content {
  font-family: "CirceRegular", arial, sans-serif;
  font-size: 1.375rem;
  line-height: 1.1;
  text-align: left;
  color: #007cd3; }

.es-card {
  padding: 20px;
  min-width: 150px;
  min-height: 360px;
  border: 1px solid #ebebeb;
  border-radius: 0.625rem;
  text-align: center; }

.es-card__img-container {
  position: relative;
  margin-bottom: 0.625rem;
  min-height: 11.875rem; }

.es-card__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "object-fit: contain; object-position: center;";
  object-fit: contain;
  object-position: center; }

.es-card__header {
  margin-bottom: 1.875rem;
  font-family: "CirceBold", arial, sans-serif;
  font-size: 1.9375rem;
  color: #000000; }

.es-card__content {
  font-family: "CirceLight", arial, sans-serif;
  font-size: 1.375rem;
  color: #000000; }

.es-user-post__container {
  width: 100%; }

.es-user-post__header {
  align-items: center;
  display: inline-flex;
  width: 100%; }

.es-user-post__foto-container {
  position: relative;
  flex-shrink: 0;
  margin-right: 0.9375rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 80px;
  overflow: hidden; }

.es-user-post__user-foto {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.es-user-post__header {
  margin-bottom: 1.25rem; }

.es-user-post__date {
  margin-bottom: 0.125rem;
  font-family: "CirceRegular", arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.1;
  text-align: left;
  color: #979797; }

.es-user-post__user {
  margin-bottom: 0.125rem;
  font-family: "CirceRegular", arial, sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  text-align: left;
  color: #ab0358; }

.es-user-post__post-header {
  font-family: "CirceBold", arial, sans-serif;
  font-size: 1.375rem;
  line-height: 1.1;
  text-align: left;
  color: #ab0358; }

.es-user-post__content {
  padding: 0.625rem;
  font-family: "CirceLight", arial, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.7;
  text-align: left;
  color: #979797; }

.es-user-post__post-foto-container {
  position: relative;
  padding: 0.625rem;
  width: 100%;
  overflow: hidden; }

.es-user-post__post-foto {
  width: 100%;
  height: auto; }

