body {
  padding: 30px;
  height: 1000px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

.component-name {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.jumping-ball1 {
  top: 80px;
  left: 12%;
  z-index: -1;
  width: 25rem;
  height: 25rem;
  background-image: url(images/ball-1.png); }

.jumping-ball6 {
  top: 200px;
  right: 15%;
  z-index: 1;
  width: 35rem;
  height: 35rem;
  background-image: url(images/ball-6.png); }

.jumping-ball7 {
  top: 400px;
  left: 20%;
  z-index: 1;
  width: 50rem;
  height: 50rem;
  background-image: url(images/ball-7.png); }

.jumping-ball8 {
  top: 500px;
  right: 23%;
  z-index: 1;
  width: 62.5rem;
  height: 62.5rem;
  background-image: url(images/ball-8.png); }

.es-jumping-ball {
  position: absolute;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: center; }

