@import url(https://fonts.googleapis.com/css2?family=Muli&display=swap);
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0; }

.content {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0; }

.wrapper {
  max-width: 344px;
  margin: 2rem auto; }

.card {
  --primary-text: #050505;
  --secondary-text: #65676b;
  --bg-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  padding: 8px 12px 8px 8px;
  border-radius: 7px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05); }
  .card h3 {
    color: var(--primary-text);
    font-size: 15px; }
  .card p,
  .card time,
  .card .separator {
    font-size: 13px;
    color: var(--secondary-text); }
  .card.is-dark {
    --primary-text: #e4e6eb;
    --secondary-text: #b0b3b8;
    --bg-color: #242526; }
  .card + .card {
    margin-top: 1rem; }

.card__avatar {
  position: relative;
  display: flex;
  margin-right: 12px; }
  .card__avatar .badge {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
    background: #5ad539;
    border-radius: 50%; }

.card__avatar--multiple {
  display: block;
  width: 56px;
  height: 56px;
  position: relative; }
  .card__avatar--multiple .avatar-1 {
    position: absolute;
    right: 0;
    top: 0; }
  .card__avatar--multiple .avatar-2 {
    position: absolute;
    left: 0;
    bottom: 0; }
  .card__avatar--multiple .badge {
    right: 6px;
    bottom: 6px; }
  .card__avatar--multiple .border {
    stroke-width: 2; }

.card__avatar--multiple-2 {
  display: grid;
  outline: solid 1px; }
  .card__avatar--multiple-2 svg:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2; }
  .card__avatar--multiple-2 svg:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3; }

.card__avatar.sol-1 {
  position: relative; }
  .card__avatar.sol-1 img {
    width: 56px;
    height: 56px;
    border-radius: 50%; }
  .card__avatar.sol-1 .border {
    position: absolute;
    width: 56px;
    height: 56px;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 0.1; }
  .card__avatar.sol-1 .badge {
    width: 14px;
    height: 14px;
    border: 2px solid #fff; }

.border {
  stroke-width: 3;
  stroke: rgba(0, 0, 0, 0.1);
  fill: none; }

.card__seen {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%; }

.new {
  display: inline-flex;
  width: 12px;
  height: 12px;
  background-color: #009aff;
  border-radius: 50%;
  cursor: pointer; }

.card__content {
  display: flex;
  flex: 1;
  min-width: 0; }

.card__content__start {
  flex: 1;
  outline-offset: 2px;
  min-width: 0; }
  .card__content__start > div {
    display: flex;
    align-items: center; }
  .card__content__start h3,
  .card__content__start p {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.separator {
  margin: 0 4px; }

.card__content__end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px; }

body {
  font-family: "Helvetica";
  line-height: 1.4;
  padding: 1rem;
  background-color: #f7f7f7; }

* {
  box-sizing: border-box; }

