body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

h2 {
  text-align: center; }

.icons-container {
  flex-wrap: wrap;
  display: flex; }

.icon-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 30px;
  min-width: 200px;
  text-align: center; }

.component-name {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.components-page__es-icon-png {
  width: 2.5rem;
  height: 2.5rem;
  background-color: red; }

.es-icon-png {
  object-fit: contain;
  object-position: center;
  font-family: "object-fit: contain; object-position: center;"; }

