body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

h2 {
  text-align: center; }

.links-container {
  flex-wrap: wrap;
  display: flex; }

.link-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 30px;
  min-width: 200px;
  text-align: center; }

.component-name {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.es-text-link {
  background-color: transparent;
  font-family: "CirceBold", arial, sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: deeppink; }
  .es-text-link:hover, .es-text-link.hover {
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;
    color: #7a0042; }
  .es-text-link:focus, .es-text-link.focus {
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline; }
  .es-text-link:disabled, .es-text-link.disabled {
    color: grey;
    pointer-events: none; }

