body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

h2 {
  text-align: center; }

.buttons-container {
  flex-wrap: wrap;
  display: flex; }

.btn-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 30px;
  min-width: 200px;
  text-align: center; }

.component-name {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.es-rotate-cube-loader__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.es-rotate-cube-loader__container.es-rotate-cube-loader__container--hide {
  display: none; }

.es-rotate-cube-loader {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #fb86c2;
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  transform: rotate(-45deg); }

.es-rotate-cube-loader__segment-container {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%; }

.es-rotate-cube-loader__segment {
  position: absolute;
  background: #fb86c2; }

.es-rotate-cube-loader__first-segment {
  bottom: 0;
  width: 100%;
  height: 0;
  animation: slide-one 1s infinite; }

.es-rotate-cube-loader__second-segment {
  left: 0;
  width: 0;
  height: 100%;
  animation: slide-two 1s infinite;
  animation-delay: 0.25s; }

.es-rotate-cube-loader__third-segment {
  right: 0;
  width: 0;
  height: 100%;
  animation: slide-two 1s infinite;
  animation-delay: 0.75s; }

.es-rotate-cube-loader__fourth-segment {
  top: 0;
  width: 100%;
  height: 0;
  animation: slide-one 1s infinite;
  animation-delay: 0.5s; }

@keyframes slide-one {
  0% {
    height: 0;
    opacity: 1; }
  12.5% {
    height: 100%;
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    height: 100%;
    opacity: 0; } }

@keyframes slide-two {
  0% {
    width: 0;
    opacity: 1; }
  12.5% {
    width: 100%;
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 0; } }

@keyframes rotate-loader {
  0% {
    transform: rotate(-45deg); }
  20% {
    transform: rotate(-45deg); }
  25% {
    transform: rotate(-135deg); }
  45% {
    transform: rotate(-135deg); }
  50% {
    transform: rotate(-225deg); }
  70% {
    transform: rotate(-225deg); }
  75% {
    transform: rotate(-315deg); }
  95% {
    transform: rotate(-315deg); }
  100% {
    transform: rotate(-405deg); } }

