body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

h2 {
  text-align: center; }

.logos-container {
  flex-wrap: wrap;
  display: flex; }

.logo-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 30px;
  min-width: 200px;
  text-align: center; }

.component-name {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.es-logo-png__container {
  margin-right: auto;
  margin-left: auto;
  width: 8.75rem;
  height: 4.375rem; }

.es-logo-png {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  font-family: "object-fit: contain; object-position: center;"; }

