body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

.component-name {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.menu__tsikloferon-style .es-main-menu {
  margin: 25px auto 0 auto;
  width: 1278px; }

.menu__tsikloferon-style .es-menu-component {
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: 400; }

.menu__tsikloferon-style .es-menu-element {
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1; }

.menu__tsikloferon-style .es-menu-element a {
  display: block;
  width: 100%;
  height: 37px;
  border-top: 2px solid #ab0358;
  border-bottom: 2px solid #ab0358;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ab0358; }

.menu__tsikloferon-style .es-menu-element:first-child a {
  border-left: 2px solid #ab0358;
  border-radius: 17px 0 0 17px; }

.menu__tsikloferon-style .es-menu-element:last-child a {
  border-right: 2px solid #ab0358;
  border-radius: 0 17px 17px 0; }

.menu__tsikloferon-style .es-menu-element-selected a {
  background-color: #ab0358;
  color: white; }

.menu__tsikloferon-style .es-menu-element a:hover {
  background-color: #ab0358;
  color: white; }

.menu__tsikloferon-style .es-menu-element a:active {
  background-color: #ab0358;
  color: white; }

@media screen and (max-width: 1280px) {
  .menu__tsikloferon-style .es-main-menu {
    padding: 0 5px;
    width: 100%; } }

@media screen and (max-width: 992px) {
  .menu__tsikloferon-style .es-main-menu {
    padding: 0; }
  .menu__tsikloferon-style .es-menu-component::before,
  .menu__tsikloferon-style .es-menu-component::after {
    content: "";
    order: 1;
    width: 100%; }
  .menu__tsikloferon-style .es-menu-element:first-child a,
  .menu__tsikloferon-style .es-menu-element:last-child a {
    border-right: 0;
    border-left: 0;
    border-radius: 0; }
  .menu__tsikloferon-style .es-menu-element:nth-child(n + 5) a {
    border-top: 0; }
  .menu__tsikloferon-style .es-menu-element:nth-child(n + 5) {
    order: 1; } }

@media screen and (max-width: 768px) {
  .menu__tsikloferon-style .es-main-menu {
    position: fixed;
    top: 85px;
    right: 0;
    margin: 0 0 0 auto;
    width: 375px;
    height: 1px; }
  .menu__tsikloferon-style .es-main-menu-show {
    z-index: 5;
    display: block; }
  .menu__tsikloferon-style .es-menu-component {
    display: block; }
  .menu__tsikloferon-style .es-menu-component::before,
  .menu__tsikloferon-style .es-menu-component::after {
    content: none; }
  .menu__tsikloferon-style .es-menu-element {
    margin: 0;
    padding: 0;
    height: 57px;
    border: 0; }
  .menu__tsikloferon-style .es-menu-element:nth-child(n) a {
    padding-right: 34px;
    height: 58px;
    border: 0;
    font-size: 20.5px;
    line-height: 58px;
    text-align: right;
    color: white; }
  .menu__tsikloferon-style .es-menu-element a {
    background-color: #d7235f; }
  .menu__tsikloferon-style .es-menu-element-selected a {
    background-color: #ab0358; }
  .menu__tsikloferon-style .es-menu-element a:hover {
    background-color: #e5618d; }
  .menu__tsikloferon-style .es-menu-element a:active {
    background-color: #951842; } }

@media screen and (max-width: 576px) {
  .menu__tsikloferon-style .es-main-menu {
    width: 100%; } }

