body {
  padding: 30px; }

h1 {
  margin-bottom: 30px;
  text-align: center; }

h2 {
  text-align: center; }

.buttons-container {
  flex-wrap: wrap;
  display: flex; }

.btn-container {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 30px;
  min-width: 200px;
  text-align: center; }

.component-name {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center; }

.modal-background__info {
  padding-top: 0.625rem;
  padding-bottom: 1.875rem; }

.modal-section__info {
  position: relative;
  padding-top: 45px;
  padding-right: 50px;
  padding-bottom: 1.25rem;
  padding-left: 50px;
  width: 48.75rem;
  min-height: 12.5rem;
  border-radius: 10px;
  background-color: #fbfbfb; }

.modal-close-button__info {
  position: absolute;
  top: 0.3125rem;
  right: 0rem; }

.info-modal__message {
  margin-bottom: 1.5625rem;
  font-family: "CirceRegular", arial, sans-serif;
  font-size: 1.625rem;
  color: #ab0358; }

.info__ok-button {
  min-width: 6.875rem;
  height: 3.75rem;
  border-radius: 0.4375rem;
  background-color: #ab0358;
  font-family: "CirceBold", arial, sans-serif;
  font-size: 1.9375rem;
  line-height: 1.875rem;
  text-transform: uppercase; }
  .info__ok-button:focus, .info__ok-button.es-focus {
    box-shadow: 0 0 0 0.2rem rgba(171, 3, 88, 0.25); }
  .info__ok-button:not(:disabled):not(.es-disabled):active:focus, .info__ok-button:not(:disabled):not(.es-disabled).es-active:focus {
    box-shadow: 0 0 0 0.2rem rgba(171, 3, 88, 0.25);
    background-color: #dd0472; }

.es-close-button__container {
  display: inline-block; }

.es-close-button__circle {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  width: 40px;
  height: 40px;
  border: 4px solid #ab0358;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer; }

.es-close-button__circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -12px;
  width: 24px;
  height: 4px;
  background-color: #ab0358;
  transform: rotate(-45deg);
  /*@include transform-origin(100%,100%);*/ }

.es-close-button__circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -12px;
  width: 24px;
  height: 4px;
  background-color: #ab0358;
  transform: rotate(45deg);
  /*@include transform-origin(0%,0%);*/ }

.es-close-button__circle {
  border: 0px solid #ab0358;
  box-shadow: 0px 0px 0px 0px #ffffff inset;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms; }

.es-close-button__circle::before,
.circle[data-animation="showShadow"]::after {
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms; }

.es-close-button__circle:not(.close-animation):hover {
  box-shadow: 0px 0px 0px 4px #ab0358 inset; }

.es-close-button__circle:not(.close-animation):hover::before {
  transform: scale(0.7) rotate(45deg);
  transition-delay: 100ms; }

.es-close-button__circle:not(.close-animation):hover::after {
  transform: scale(0.7) rotate(-45deg);
  transition-delay: 100ms; }

.es-close-button__circle.close-animation {
  opacity: 0;
  transform: scale(0);
  transition: ease-out 300ms; }

.es-custom-modal__container {
  display: none;
  transform: none; }

.before-appearing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  min-width: 576px;
  height: calc(100vh);
  transform: scale(0); }
  .before-appearing.appearing {
    transform: scale(1); }
    .before-appearing.appearing .es-custom-modal__background {
      background: rgba(0, 0, 0, 0);
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .before-appearing.appearing .es-custom-modal__background .es-custom-modal__section {
        opacity: 0;
        animation: scaleUp 0.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    .before-appearing.appearing.disappearing {
      animation: quickScaleDown 0s .5s linear forwards; }
      .before-appearing.appearing.disappearing .es-custom-modal__background {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        .before-appearing.appearing.disappearing .es-custom-modal__background .es-custom-modal__section {
          animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

.es-custom-modal__background {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 0.3125rem;
  padding-right: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.3125rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle; }

@media screen and (max-height: 480px) {
  .es-custom-modal__background {
    align-items: flex-start;
    overflow: scroll; } }

.es-custom-modal__section {
  background-color: white; }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(0.005) scaleX(0); } }

@keyframes zoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes zoomOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
    opacity: 0; }
  100% {
    background: rgba(0, 0, 0, 0.9);
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.9); }
  100% {
    background: rgba(0, 0, 0, 0); } }

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(5000px); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px); } }

@keyframes scaleDown {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.1); } }

@keyframes quickScaleDown {
  0% {
    transform: scale(1); }
  99.9% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes scaleBack {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.85); } }

@keyframes scaleForward {
  0% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }

