
@charset "UTF-8";
.faq-section {
  margin: 0 auto;
  padding-top: 100px;
  width: 1280px; }

.faq-section__headline {
  margin-bottom: 2.8125rem;
  font-family: "RobotoRegular";
  font-size: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #ab0358; }

.faq-section__question {
  margin-top: 20px;
  max-width: 880px; }

.faq-section__question input,
.faq-section__question p {
  display: none; }

/*Если чекбокс отмечен, показываем все абазацы*/
.faq-section__question input[type=checkbox]:checked ~ p {
  display: block;
  padding-left: 45px;
  font-size: 22px;
  color: #474747; }

/*Стили для метки*/
.faq-section__question label {
  position: relative;
  display: block;
  padding-left: 45px;
  font-family: "RobotoBold";
  font-size: 28px;
  color: #ab0358;
  cursor: pointer; }

/*Удаляем выделение текста при переключении*/
.faq-section__question label::selection {
  background: none; }

/*Стрелка метки - состояние по умолчанию*/
.faq-section__question label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  border: 15px solid transparent;
  border-left-color: #ab0358; }

.faq-section__question input[type=checkbox]:checked ~ label::before {
  top: 13px;
  left: 0;
  border: 15px solid transparent;
  border-top-color: inherit; }

.faq-section__show-more {
  display: block;
  margin: 60px auto 0 auto;
  border: 0;
  border-bottom: 2px solid #ab0358;
  background-color: #ffffff;
  font-family: "RobotoRegular";
  font-size: 26px;
  text-align: center;
  color: #ab0358;
  cursor: pointer; }

.faq-section__show-min {
  display: block;
  margin: 60px auto 0 auto;
  border: 0;
  border-bottom: 2px solid #ab0358;
  background-color: #ffffff;
  font-family: "RobotoRegular";
  font-size: 26px;
  text-align: center;
  color: #ab0358;
  cursor: pointer; }

.faq-section__show-none {
  display: none; }

@media screen and (max-width: 1280px) {
  .faq-section {
    width: 1150px; } }

@media screen and (max-width: 1200px) {
  .faq-section {
    width: 940px; } }

@media screen and (max-width: 992px) {
  .faq-section {
    width: 736px; }
  .faq-section__show-more,
  .faq-section__show-min {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .faq-section {
    width: 574px; } }

