extends ../../templates/components

block variables
    - var title = 'Шаговый индикатор'
    - var pageClass = 'steps-indicator-page'

block content
    include ../../components/indicators/steps/es-round-steps/es-round-steps.pug