extends ../../templates/components
include ../../components/es-autorization-block/es-autorization-block
include ../../components/es-radio-player/es-radio-player
include ../../components/form-components/inputs/es-custom-input/es-custom-input

block variables
    - var title = 'Функциональные компоненты'
    - var pageClass = 'components-page'

block content
    h1 Функциональные компоненты
    .component-name es-autorization-block
    .es-autorization-block__container
        +es-autorization-block("", "")
    br
    .component-name es-radio-player
    .es-radio-player__container
            +es-radio-player("","")
    br
    div.input-container
        .component-name air datepicker
        +es-custom-input("input-name-container", "bootstrap-style", "text", "datetime", "date", "registration-form__input-name", "", "Дата", "registration-form__input-label")




block script
    script(src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.9/build/mediaelement-and-player.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.dev.js")