@import "../../../../common/scss/mixins.scss";
@import "../../../../common/scss/vars.scss";

.digital-easy-style.es-custom-input__container {
  margin-bottom: rem(10px);
}

.digital-easy-style {
  .es-custom-input__container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }

  .es-custom-input__label {
    display: block;
    margin-bottom: 0.125rem;
    width: 100%;
    font-family: $mainFontRegular;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    color: #808080;
  }

  .es-custom-input__field {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
    font-family: CirceRegular;
    font-size: 18px;
    line-height: 1.875;
    border-width: 0 0 2px 0;
    border-image: linear-gradient(to left, #e400c7, #0030ff);
    border-image-slice: 0 0 4 0;
    outline: none;
  }

  .es-custom-input__field.invalid:not(:focus) {
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMyMC44MyAzMjAuODMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyMC44MyAzMjAuODM7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4Ij4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMjEuNjE3LDI5MC4yNDZoMjc3LjYwNGM5LjQ2OSwwLDE3LjAxMy00LjU1MywyMC4xNjgtMTIuMTg0YzIuOTA0LTcuMDExLDEuMzYtMTQuOC00LjEwNy0yMS4yMTIgICAgTDE4MC40OTcsMzkuNjg0bC0xLjMzMy0xLjMzM2MtNS4wMDktNS4wMDktMTEuNjY3LTcuNzY3LTE4Ljc0OC03Ljc2N2MtNy4wODIsMC0xMy43MzksMi43NTgtMTguNzQzLDcuNzY3bC0xLjMzMywxLjMzMyAgICBMNS41NSwyNTYuODQ0Yy01LjQ2Niw2LjQxMy03LjAxNiwxNC4yMDctNC4xMDYsMjEuMjEyQzQuNjAzLDI4NS42ODgsMTIuMTQyLDI5MC4yNDYsMjEuNjE3LDI5MC4yNDZ6IE0xNjAuNDE2LDY5LjIxMyAgICBsMTE2LjkzNCwxODguMzkzSDQzLjQ4N0wxNjAuNDE2LDY5LjIxM3oiIGZpbGw9IiNEODAwMjciLz4KCQk8cGF0aCBkPSJNMTYwLjQxNiwxMDUuMzQ1Yy05LjE5NywwLTE2LjY1NCw3LjQ1Ny0xNi42NTQsMTYuNjU0djcxLjM4OGMwLDkuMTk3LDcuNDU3LDE2LjY1NCwxNi42NTQsMTYuNjU0ICAgIHMxNi42NTQtNy40NTcsMTYuNjU0LTE2LjY1NHYtNzEuMzg4QzE3Ny4wNzYsMTEyLjgwMiwxNjkuNjE5LDEwNS4zNDUsMTYwLjQxNiwxMDUuMzQ1eiIgZmlsbD0iI0Q4MDAyNyIvPgoJCTxjaXJjbGUgY3g9IjE2MC4yNDgiIGN5PSIyMzQuOTAzIiByPSIxNi40ODYiIGZpbGw9IiNEODAwMjciLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
  }

  .es-custom-input__field.invalid + .invalid {
    display: none !important;
  }

  .es-custom-input__field.invalid:hover:not(:focus) + .invalid {
    position: absolute;
    top: 100%;
    z-index: 1;
    display: block !important;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: .5rem;
    width: 100%;
    min-height: 3em;
    border-radius: .25rem;
    //background: linear-gradient(to left, #E400C7, #0030FF);
    background-color: rgba(#bbbbbb, 0.85);
    font-family: $mainFontRegular;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
    pointer-events: none;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 16px;
      display: block;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom: 10px solid rgba(#bbbbbb, 0.85);
      border-right-width: 7px;
      border-left-width: 7px;
    }
  }

  .es-custom-input__field:focus {
    border-bottom: 2px solid #e400c7;
  }

  .es-custom-input__field:focus::-webkit-input-placeholder {
    color: black;
    opacity: 0;
  }

  /* webkit */
  .es-custom-input__field:focus::-moz-placeholder {
    color: black;
    opacity: 0;
  }

  /* Firefox 19+ */
  .es-custom-input__field:focus:-moz-placeholder {
    color: black;
    opacity: 0;
  }

  /* Firefox 18- */
  .es-custom-input__field:focus:-ms-input-placeholder {
    color: black;
    opacity: 0;
  }

  /* IE */

  ::-webkit-input-placeholder {
    color: black;
    opacity: 1;
  }

  /* webkit */
  ::-moz-placeholder {
    color: black;
    opacity: 1;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: black;
    opacity: 1;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: black;
    opacity: 1;
  }

  /* IE */
}