@import "../../common/scss/mixins.scss";
@import "../../common/scss/vars.scss";

body {
  padding: 30px;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.component-name {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 300px;
  text-align: center;
  //margin-left : 10px;
}

.es-menu__container{

}