/** Custom Select **/
.custom-select__validation-output-container {
  position: absolute;
  top: -0.15rem;
  left: 50%;
  box-sizing: border-box;
  padding-left: 1rem;
  width: 101%;
  height: 5.0rem;
  border: solid 2px #ea6262;
  border-radius: 8px;
  background-color: #ea6262;
  font-family: $mainFontRegular;
  font-size: rem(21px);
  text-align: left;
  color: white;
  visibility: hidden;
  transform: translateX(-50%);
  user-select: none;
}

.custom-select__validation-output-field {
  position: absolute;
  top: 4rem;
  min-height: 1rem;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
}

.custom-select-wrapper select {
  //display: none;
  //border: none;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  //clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}

.custom-select {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  background-color: white;
}

//поле селекта
.custom-select-trigger {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin-right: 0;
  padding-right: 2rem;
  padding-left: 1rem;
  width: 100%;
  height: 3.8rem;
  border: solid 1px #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.12);
  font-family: $mainFontRegular;
  font-size: rem(18px);
  line-height: 3.625rem;
  text-align: left;
  text-overflow: ellipsis;
  color: lighten(black, 40%);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
//стрелочка вниз поля селекта
.custom-select-trigger::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(15px);
  display: block;
  margin-top: -3px;
  width: 0.425rem;
  height: 0.425rem;
  border-right: 2px solid $mainColor;
  border-bottom: 2px solid $mainColor;
  text-align: left;
  transform: rotate(45deg) translateY(-50%);
  //transition: all .4s ease-in-out
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger::after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options-caption {
  position: absolute;
  top: -36%;
  right: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  padding-left: 1rem;
  font-family: $mainFontRegular;
  font-size: rem(18px);
  text-align: left;
  color: black;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15px);
  pointer-events: none;
}

.custom-options-caption--up {
  top: -37%;
  display: none;
}

.custom-select.opened {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  //transform: translateY(0)
}

.custom-options-caption {
  opacity: 1;
  visibility: hidden;
  pointer-events: all;
  //transform: translateY(0)
}

.custom-options {
  position: absolute;
  top: -46%;
  right: 0;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  margin-top: 1.75rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  min-width: 100%;
  height: 11rem;
  border: solid 1px #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.12);
  background: #ffffff;
  //transition: all .4s ease-in-out

  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  transform: translateY(-15px);
  pointer-events: none;
}

.custom-options--up {
  top: -400%;
}

.custom-select.opened .custom-options {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(35%);
}

//Это стрелочка у открытого списка опций
.custom-options::before {
  //display: block;
  content: "";
  position: absolute;
  right: rem(11px);
  bottom: 105%;
  display: none;
  margin-bottom: -2rem;
  width: 0.425rem;
  height: 0.425rem;
  border-top: 2px solid $mainColor;
  border-left: 2px solid $mainColor;
  background: #ffffff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;

  //.custom-options--up:before
  //  top: 80%
  //  bottom: 0%
  //  transform: rotate(225deg)
}

.option-hover::before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  //display: block
  display: flex;
  height: rem(40px);
  //padding: 0 22px
  //border-bottom: 1px solid #ade7f8;
  font-family: $mainFontRegular;
  font-size: rem(18px);
  line-height: 1.3;
  color: black;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
  border-top: 0;
  border-radius: 12px 12px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 12px 12px;
}

.custom-option:hover,
.custom-option.selection {
  //background: #def6ff
}

//.es-custom-select__error-message {
//  display: none;
//  margin-top: rem(0px);
//  padding-right: rem(5px);
//  padding-left: rem(16px);
//  width: 100%;
//  font-family: $mainFontLight;
//  font-size: rem(14px);
//  text-align: left;
//  color: $mainColor;
//}

.custom-select-wrapper select.invalid:not(:focus){
  //можно повесить иконку
}

.custom-select-wrapper select + .invalid{
  display: none;
}

.custom-select-wrapper select.invalid + .invalid{
  padding-left: rem(45px);
  font-family: $mainFontLight;
  font-size: rem(14px);
  text-align: left;
  color: $mainColor;
}