mixin es-logo-png(logoClassFromContainer, logoClassModifier)
    picture
        source(srcset="./img/logo.png")
        img(class="es-logo-png"+" "+logoClassModifier+" "+logoClassFromContainer src="./img/logo.png" alt="Логотип Европа плюс")
