mixin es-close-button(buttonClassFromContainer, buttonClassModifier)
    div(class="es-close-button__container"+" "+buttonClassFromContainer+" "+buttonClassModifier)
        button(class="es-close-button__circle")
