//include ../../elements/menu-element/menu-element.pug

nav.es-main-menu
    ul.es-menu-component
        li(class="es-menu-element")
            a.es-main-menu__link(href="#main-page") главная
        li(class="es-menu-element")
            a.es-main-menu__link(href="#cikloferon") циклоферон
        li(class="es-menu-element")
            a.es-main-menu__link(href="#know_more") как стать участником
        li(class="es-menu-element")
            a.es-main-menu__link(href="data/rules.pdf" target="_blank") правила
        li(class="es-menu-element")
            a.es-main-menu__link(href="#winners") победители
        li(class="es-menu-element")
            a.es-main-menu__link(href="#faq") faq
        li(class="es-menu-element")
            a.es-main-menu__link(href="#ask-question") задайте вопрос