.container
    .circle-container  
        .circle
            button#close
                i.fas.fa-times
            button#open
                i.fas.fa-bars
    .content
        h1 Great Article
        small My Article
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quis excepturi dolores rem minima, dignissimos, provident nesciunt adipisci totam voluptatem omnis ipsum vero enim nam. In unde blanditiis laboriosam corporis.
        h3 My Dog
        img(src="https://cache3.youla.io/files/images/780_780/5d/56/5d564587d138b3d2390f9ef9.jpg" alt="puppy")
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem ut est consectetur excepturi! Placeat nisi sit fugit modi, alias pariatur optio obcaecati ipsa ut adipisci, vitae laborum fuga. Fugiat maxime explicabo suscipit adipisci cum? Delectus mollitia ea quos. Veritatis sint distinctio exercitationem accusantium modi, et at laborum quaerat, dolor nam obcaecati amet assumenda mollitia quibusdam dolorum illo perspiciatis! Incidunt voluptas commodi officiis, aut labore quisquam provident error tenetur quasi tempora? Facere quae ducimus quos veniam!
nav
    ul
        li
            i.fas.fa-home
            | Home
        li
            i.fas.fa-user-alt
            | About
        li
            i.fas.fa-envelope
            | Contact    
