extends ../../templates/components


block variables
    - var title = 'Слайдеры'
    - var pageClass = 'sliders-page'

block content
    h1 Слайдеры
    .component-name es-slick-3Dslider
    .es-slider__container
        include ../../components/sliders/es-slick-3Dslider/es-slick-3Dslider



