@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";

.es-text-link {
  background-color: transparent;
  font-family: $mainFontBold;
  font-size: rem(16px);
  text-decoration: underline;
  color: deeppink;

  &:hover,
  &.hover {
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;
    color: darken(deeppink, 30);
  }

  &:focus,
  &.focus {
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
  }

  &:disabled,
  &.disabled {
    color: grey;
    pointer-events: none;
  }
}
