@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";

.es-icon-png {
  object-fit: contain;
  object-position: center;
  font-family: "object-fit: contain; object-position: center;";
}