@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";

//Цвета
$buttonTextColor: #ab0358;
$buttonGradientColorStart: rgb(255, 223, 9);
$buttonGradientColorEnd: rgb(255, 155, 0);
//Размеры

//Шрифты
$buttonFont: $mainFontBold;


.es-simple-button__tsikloferon-style-write-post {
  display: inline-block;
  padding: rem(24px) rem(12px);
  min-width: rem(400px);
  height: rem(100px);
  border: 1px solid transparent;
  border-radius: rem(100px);
  background: radial-gradient(at top center, rgba($buttonGradientColorStart, 1), rgba($buttonGradientColorEnd, 1));
  //background: linear-gradient(90deg, rgba(254, 180, 20, 1), rgba(255, 223, 9, 1), rgba(254, 180, 20, 1));
  font-family: $buttonFont;
  font-size: rem(50px);
  line-height: 1.15;
  text-transform: uppercase;
  color: $buttonTextColor;
  text-shadow: 0px 2px $buttonGradientColorStart;

  &:focus,
  &.es-focus {
    box-shadow: 0 0 0 .2rem rgba(255, 223, 9, 0.25);
    outline: 0;
  }

  &.es-disabled,
  &:disabled {
    box-shadow: none;
    opacity: .65;
  }

  &:not(:disabled):not(.es-disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.es-disabled):active,
  &:not(:disabled):not(.es-disabled).es-active {
    box-shadow: inset 0 3px 5px rgba(254, 180, 20, 0.125);

    &:focus {
      box-shadow: 0 0 0 .2rem rgba(255, 223, 9, 0.25);
      background: radial-gradient(at top center, rgba(255, 223, 9, 0.9), rgba(254, 180, 20, 1));
    }
  }
}