@import "../../../common/scss/mixins.scss";
@import "../../../common/scss/vars.scss";

//Цвета
$buttonColorStyle: #ab0358;
//Размеры

//Шрифты
$buttonFont: $mainFontBold;

.es-simple-button__tsikloferon-style {
  display: inline-block;
  padding: rem(5px) rem(12px);
  min-width: rem(250px);
  min-height: rem(55px);
  border: 1px solid transparent;
  border-radius: rem(5px);
  background-color: $buttonColorStyle;
  font-family: $buttonFont;
  font-size: rem(22px);
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  user-select: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus,
  &.es-focus {
    box-shadow: 0 0 0 .2rem rgba(lighten($buttonColorStyle, 25%), 0.25);
    outline: 0;
  }

  &.es-disabled,
  &:disabled {
    box-shadow: none;
    opacity: .65;
  }

  &:not(:disabled):not(.es-disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.es-disabled):active,
  &:not(:disabled):not(.es-disabled).es-active {
    box-shadow: inset 0 3px 5px rgba(lighten($buttonColorStyle, 25%), .125);
    background-color: lighten($buttonColorStyle, 5%);

    &:focus {
      box-shadow: 0 0 0 .2rem rgba(lighten($buttonColorStyle, 25%), 0.25);
    }
  }
}