mixin es-simple-button(buttonType, buttonClassFromContainer, buttonClassModifier, buttonText)
    button(type=buttonType class="es-simple-button"+" "+buttonClassFromContainer+" "+buttonClassModifier)=buttonText