.es-simple-button {
  display: inline-block;
  padding: .375rem .75rem;
  min-width: rem(250px);
  min-height: rem(55px);
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #ab0358;
  font-family: $mainFontMedium;
  font-size: rem(22px);
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  user-select: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus,
  &.es-focus {
    box-shadow: 0 0 0 .2rem rgba(lighten(#ab0358, 25%), 0.25);
    outline: 0;
  }

  &.es-disabled,
  &:disabled {
    box-shadow: none;
    opacity: .65;
  }

  &:not(:disabled):not(.es-disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.es-disabled):active,
  &:not(:disabled):not(.es-disabled).es-active {
    box-shadow: inset 0 3px 5px rgba(lighten(#ab0358, 25%), .125);
    background-color: lighten(#ab0358, 5%);

    &:focus {
      box-shadow: 0 0 0 .2rem rgba(lighten(#ab0358, 25%), 0.25);
    }
  }
}