.search {
    position: relative;
    height: 3.125rem;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 1.125rem;
    padding: 0.9375rem;
    height: 3.125rem;
    width: 3.125rem;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.125rem;
    width: 3.125rem;
    transition: transform .3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 12.5rem;
}

.search.active .btn {
    transform: translateX(12.375rem)
}