.es-rubber-checkbox__container
    .es-rubber-checkbox__toggle
        input(class="es-rubber-checkbox__input" type="checkbox")
        span(class="es-rubber-checkbox__button")
        span(class="es-rubber-checkbox__label") +

    .es-rubber-checkbox__toggle
        input(class="es-rubber-checkbox__input" type="checkbox")
        span(class="es-rubber-checkbox__button")
        span(class="es-rubber-checkbox__label") -