// Squishy buttons inspired by https://goo.gl/bFCyS

@import url(https://fonts.googleapis.com/css?family=Lato:700);

$size : 140px;

.es-rubber-checkbox__container {
  //position   : absolute;
  //margin-top : -80px;
  width: 100%;
  text-align: center;
  //top        : 50%;
}

.es-rubber-checkbox__toggle {
  display: inline-block;

  margin: 4px;
}

.es-rubber-checkbox__toggle {
  $size : 140px;
  $radius : $size * 0.845;
  $glow : $size * 0.125;
  position: relative;
  width: $size;
  height: $size;
  border-radius: 8px;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px rgba(255, 255, 255, 0.9), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
  background: #ccd0d4;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: ( $radius - $glow ) * -0.5;
    margin-left: ( $radius - $glow ) * -0.5;
    width: $radius - $glow;
    height: $radius - $glow;
    border-radius: $radius;

    box-shadow: 0 0 $glow $glow / 2 #ffffff;
    background: #ffffff;
    opacity: 0.2;
  }
}

.es-rubber-checkbox__button {

  $radius : $size * 0.688;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: $radius * -0.5;
  margin-left: $radius * -0.5;
  width: $radius;
  height: $radius;
  border-radius: $radius;
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  background: #ccd0d4;
  transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}

.es-rubber-checkbox__label {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 42px;
  font-weight: 700;
  line-height: $size - 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.9;
  transition: color 300ms ease-out;
  text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0, 0, 0, 0.8), 1px 1px 4px #ffffff;
}

.es-rubber-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: red;
  cursor: pointer;

  opacity: 0;

  &:active {
    ~ .es-rubber-checkbox__button {
      box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
    }

    ~ .es-rubber-checkbox__label {
      font-size: 40px;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  &:checked {
    ~ .es-rubber-checkbox__button {
      box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
    }

    ~ .es-rubber-checkbox__label {
      font-size: 40px;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}