extends ../../templates/components

block variables
    - var title = 'Шаговый индикатор'
    - var pageClass = 'steps-indicator-page'

block content
    .container
      include ../../components/cards/fb-badge/fb-badge.pug